.subContainer{
	width: 520px;
	margin-left: 50px;
	border: 1px solid #777777;
	border-radius: 10px;
	padding: 10px;
}

.button{
	margin-top: 10px;
	border: none;
	background-color: #317B96;
	color: white;
	border-radius: 5px;
}

.positionButton{
	display: flex;
	justify-content: end;
}

.inputsContainer{
	display: flex;
	justify-content: space-between;
}

.inputsContainer div{
	margin-right: 30px;
}

@media (max-width:760px){
	.subContainer{
		display: block;
		margin: 0 auto;
		width: 95%;
	}
}

@media (max-width:480px){
	input{
		width: 150px;
	}
}

@media (max-width:380px){
	input{
		width: 236px;
	}

	.inputsContainer{
		flex-direction: column;
	}
}
