.quest{
	margin-left: 0px;
	text-align: center;
	font-family: 'Anton';
	font-weight: 100;
	font-size: 2.8rem;
}

button{
	border: none;
	background-color: transparent;
	padding: 5px 20px;
}

.subContainer{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30vw;
	height: 30vh;
	background-color: rgb(244, 245, 249);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.24);
}

.subContainer .buttons{
	margin: 0 auto;
	margin-top: 50px;
}

.subContainer .buttons .backButton a{
	margin-right: 50px;
	color: black;
	text-transform: capitalize;
}

.subContainer .buttons .exitButton{
	border: none;
	background-color: #317B96;
	color: white;
	border-radius: 5px;
}

@media (max-width:1200px){
	.quest{
		font-size: 1.8rem;
	}

	.subContainer{
		height: 20vh;
	}
}

@media (max-width:900px){
	.buttons{
		display: flex;
		flex-direction: column;
		width: 75%;
	}

	.backButton{
		padding: 0px;
		text-align: center;
	}
}

@media (max-width:800px){
	.subContainer{
		width: 50vw;
		height: 30vh;
	}
	.quest{
		text-align:center;
		max-width: 65%;
	}
}

@media (max-width:400px){
	.subContainer{
		width: 65vw;
	}
}
