label{
	color: black;
	font-size: 1.8rem;
	font-weight: 500;
}

input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;

}

input[type=number] {
 -moz-appearance: textfield;
 appearance: textfield;
}

input[type=date]{
	width: 236px;
}

input{
	padding: 5px 15px;
	margin-bottom: 10px;
	border: 1px solid rgba(0, 0, 0, 0.5);
}

.container{
	width: 520px;
	margin-left: 50px;
	border: 1px solid #777777;
	border-radius: 10px;
	padding: 10px;
}

.subContainer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.button{
	margin-top: 10px;
	border: none;
	background-color: #317B96;
	color: white;
	border-radius: 5px;
}

.positionButton{
	display: flex;
	justify-content: end;
}
