.container{
	display: flex;

}

.userPhoto{
	display: flex;
	align-items: center;
}

.userPhoto img {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	border: 1px solid rgb(102, 102, 102);
}

.userPhoto p{
	margin-left: 10px;
	font-size: 1.8rem;
}

.options{
	margin-top: 10px;
	font-size: 2rem;
	text-transform: uppercase;
	cursor: pointer;
}
