.container{
	display: flex;
}

.userPhoto{
	display: flex;
	align-items: center;
}

.userPhoto img {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	border: 1px solid rgb(102, 102, 102);
}

.userPhoto p{
	margin-left: 10px;
	font-size: 1.8rem;
}

.options{
	font-size: 2rem;
	text-transform: uppercase;
	cursor: pointer;
	color: black;
}

.optionMargin{
	margin-top: 10px;
}

.select{
	font-size: 2rem;
	text-transform: uppercase;
	cursor: pointer;
	color: #317B96;
	font-weight: 700;
}

@media (max-width:760px){
	.optionsNavigate{
		width: 100vw;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0px 20px 50px 20px;
	}

	.optionsNavigate p a{
		font-size: 1.4rem;
	}

	.userPhoto{
		display: none;
	}
}

@media (max-width:365px){
	.optionsNavigate{
		padding: 0px;
		margin-bottom: 50px;
	}

	.optionsNavigate p a{
		font-size: 1.2rem;
	}
}
