a{
	color: black;
}

p{
	margin: 0px;
}

h1{
	font-weight: 700;
	margin-left: 50px;
}

.container{
	width: 520px;
	margin-left: 50px;
	border: 1px solid #777777;
	border-radius: 10px;
	padding: 10px;
}

.infoResponse{
	color: #777777;
}

.infoQuest{
	font-weight: 700;
}

.subCont{
	display: grid;
	grid-template-columns: 60% 40%;
	margin-bottom: 20px;
}

.marginDetail{
	margin-bottom: 20px;
}

.edit{
	font-weight: 700;
	text-decoration: underline;
	text-align: end;
	cursor: pointer;
}

@media (max-width:760px){
	h1{
		margin: 0px 0px 20px 0px;
	}

	.container{
		margin: 0px;
		width: 96vw;
	}
}

@media (max-width:440px){
	.subCont{
		display: flex;
		flex-direction: column;
	}

	.infoResponse{
		margin-bottom: 20px;
	}

	.lastNameResponse{
		margin-bottom: 0px;
	}

	.marginDetail{
		margin-bottom: 20px;
	}
}
