.container {
	max-width: 1280px;
	margin: 0 auto;
	width: 100%;
}

.imageAndButtons{
	display: flex;
	justify-content: center;
}

@media (max-width:900px){
	.imageAndButtons{
		flex-direction: column;
	}
}
