.card{
	width: 402px;
	padding-bottom: 8px;
	transition: .1s;
	cursor: pointer;
	margin: 0px 40px;
}

.card:hover{
	border: 1px solid rgb(230, 230, 230);
}

.card img{
	width: 400px;
	background-color: #ebebeb;
}

.card .name{
	margin: 8px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.7rem;
}

.card .price{
	margin: 0px 8px;
	color: #00a650;
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
	font-weight: 600;
}

.buy{
	transition:1s;
	background-color:#317B96 ;
	margin: 8px;
	color: white;
	border-radius: 5px;
	width: 100%;
	display: block;
}

.buyNone{
	background-color:#317B96 ;
	margin: 8px;
	color: white;
	border-radius: 5px;
	width: 100%;
	display: none;
}

.positionButton{
	display: flex;
	justify-content: center;
