.card{
	width: 402px;
	padding-bottom: 8px;
	transition: .1s;
	cursor: pointer;
	margin: 0px 20px;
	border: 1px solid transparent;
}

.card:hover{
	border: 1px solid rgb(230, 230, 230);
}

.card img{
	width: 400px;
	background-color: #ebebeb;
}

.card .name{
	margin: 8px;
	margin-bottom: 0px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.7rem;
}

.card .category{
	color: #a9a9a9;
	font-family: Montserrat,sans-serif;
	font-size: 1.4rem;
	margin: 0px 8px;
	margin-bottom: 10px;
}

.card .price{
	margin: 0px 8px;
	color: #00a650;
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
	font-weight: 600;
}

@media (max-width:1345px){
	.card, .card img{
		width: 302px;
	}
}

@media (max-width:1050px){
	.card, .card img{
		width: 402px;
	}
}

@media (max-width:905px){
	.card, .card img{
		width: 302px;
	}
}

@media (max-width:701px){
	.card, .card img{
		width: 402px;
	}
}

@media (max-width:460px){
	.card, .card img{
		width: 252px;
		margin: 0px;
	}
}
