.container{
	width: 100vw;
	height: 100vh;
	background-color: #317B96;
}

.subContainer{
	background-color: white;
	width: 50vw;
	height: 75vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.349);
	border-radius: 10px;
}
