hr{
	margin-top: 0;
	margin-bottom: 10px;
}

p{
	margin-bottom: 0px;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 50px 150px;
	color:#777777;
}

.container div{
	display: flex;
	justify-content: space-between;
}

@media (max-width:745px){
	.container{
		margin: 50px;
	}
}

@media (max-width:420px){
	.container{
		margin: 50px 20px;
	}

	.container p{
		font-size: 1.4rem;
	}
}
