.container{
	background-color: #EFEFEF;
	padding:20px;
	margin-top: 50px;
}

.title{
	margin: 0px;
	margin-bottom: 20px;
}

.arrowLeft,
.arrowRight{
	color: black;
	width:40px;
	height: 40px ;
	padding: 8px;
	cursor: pointer;
	transition: .5s;
	z-index: 1;
}

.carousel{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	position: relative;
}

.promotions{
	display: flex;
	overflow: hidden;
	scroll-behavior: smooth;
}

.arrowLeft{
	margin-right: 100px;
}

.arrowLeft:hover,
.arrowRight:hover
{
	color: #317B96;
	transform: scale(1.3);
}

.teste{
	width: 310px;
}

.arrows{
	display: flex;
	justify-content: center;
	margin: 50px 0px 0px 0px ;
}
