.container{
	background-color: #EFEFEF;
	padding:20px;
}

.assessments{
	width: 350px;
}

.container h1{
	margin-bottom: 20px;
}

.star{
	color: gold;
	margin-left: 2px;
	font-size: 2.6rem;
}

.container .comment{
	font-size: 1.4rem;
	margin-top: 15px;
	margin-bottom: 15px;
}

.container .username{
	font-weight: 700;
}
