.assessments{
	width: 350px;
}

.container h1{
	margin: 0px;
}

.star{
	color: gold;
	margin-top: 10px;
	font-size: 2.6rem;
}

.comment{
	word-wrap: break-word;
	max-width: 280px;
	font-size: 1.4rem;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-right: 5px;
}

.username{
	font-weight: 700;
	font-size: 1.8rem;
}
