.mainPhoto{
	width: 28vw;
	height: 50vh;
	background-color: rgb(244, 245, 249);
	border-radius: 10px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.425);
	cursor: zoom-in;
}

.otherPhotos{
	width: 28vw;
	display: flex;
	justify-content: space-between;
	transition: .5s;
}

.otherPhotos div,
.otherPhotos img{
	width: 120px;
	height: 120px;
	margin: 10px 0px;
	border-radius: 10px;
	cursor: pointer;
	background-color: rgb(244, 245, 249);
}

.otherPhotos div img{
	width: 50px;
	height: 50px;
}

.opacityTrue{
	opacity: .4;
	transition: .5s;
}

.opacityNone{
	opacity: 1;
	transition: .5s;
}
