.mainPhoto{
	width:100%;
	height: 50vh;
	background-color: rgb(244, 245, 249);
	border-radius: 10px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.425);
	cursor: zoom-in;
}

.otherPhotos{
	width: 100%;
	display: flex;
	justify-content: space-between;
	transition: .5s;
}

.otherPhotos div,
.otherPhotos img{
	width: 70px;
	height: 70px;
	margin: 10px 0px;
	border-radius: 10px;
	cursor: pointer;
	background-color: rgb(244, 245, 249);
}

.otherPhotos div img{
	width: 50px;
	height: 50px;
}

.opacityTrue{
	opacity: .4;
	transition: .5s;
}

.opacityNone{
	opacity: 1;
	transition: .5s;
}

@media (max-width:1280px){
	.container{
		margin-left: 50px;
	}
}

@media (max-width:900px){
	.container{
		margin: 0px;
	}

	img{
		margin: 0px;
	}

	.mainPhoto{
		display: block;
		margin: 0 auto;
		width: 95%;
		height: 100%;
	}

	.otherPhotos{
		width: 95%;
		margin: 0 auto;
	}

}

@media (max-width:1000px){
	.otherPhotos img{
		width: 60px;
		height: 60px;
	}
}

@media (max-width:500px){
	.otherPhotos img{
		width:50px;
		height: 50px;
	}
}
