.modalImage{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
}

.modalImage div img{
	border-radius: 10px;
	border: 1px solid rgb(145, 145, 145);
	box-shadow: 0px 0px 2px rgb(145, 145, 145);
}

.otherPhotos{
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.otherPhotos img{
	width: 100px;
	height: 100px;
	border: 1px solid rgb(145, 145, 145);
	box-shadow: 0px 0px 2px rgb(145, 145, 145);
	cursor: pointer;
}

.buttonClose{
	position: absolute;
	right: 0;
	font-size: 30px;
	margin-right: 20px;
	margin-top: 10px;
	cursor: pointer;
}

.buttonClose:hover{
	transition: .3s;
	transform: scale(1.2);
	color: #317B96;
}

.opacityTrue{
	opacity: .4;
	transition: .5s;
}

.opacityNone{
	opacity: 1;
	transition: .5s;
}

.mainPhoto{
	background-color: rgb(244, 245, 249);
	width: 770px;
	height: 770px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
}
