.container{
	width: 95%;
	background-color: white;
	padding: 10px;
}

.title{
	margin: 10px 0px 20px 0px;
	font-size: 2.2rem;
}

.labelCep{
	color: rgb(161, 161, 161);
	font-size: 1.6rem;
}

.inputAddressee{
	padding: 0px;
	margin-right: 0px;
	padding: 0px 10px;
}

.inputAddressee:focus{
	outline: 0;
}

.infos{
	width: fit-content;
	border: 1px solid #B5B6BB;
	color:#B5B6BB;
	padding: 5px;
	margin-bottom: 5px;
}

.subTitle{
	font-weight: 700;
}

.editAddress{
	color: #B5B6BB;
}

.editAddress span a{
	color: #317B96;
	font-weight: 600;
	margin-bottom: 10px;
}

.inputContainer{
	margin: 20px 0px;
	display: flex;
}

.inputContainer p{
	margin-right: 5px;
	font-size: 1.8rem;
	color: #B5B6BB;
}

.btnCalc{
	border: 1px solid #317B96;
	color: #317B96;
	font-weight: 700;
	padding: 5px 10px;
	border-radius: 5px;
}

@media (max-width:735px){
	.container{
		margin-top: 20px;
		width: 100%;
	}
}
