.container{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
}

.tableProducts{
	width: 95%;
	padding: 5px 10px;
	background-color: white;
}

.titles{
	display: grid;
	grid-template-columns: 50% 20% 25%;
	border-bottom: 1px solid rgb(212, 212, 212);
	text-transform: uppercase;
	font-weight: 700;
}

.titleProductInfos{
	display: none;
}

.listProducts{
	max-height: 305px;
	overflow-y: auto;
	margin-top: 5px;
}

.listProducts::-webkit-scrollbar {
	width: 6px;
	background-color: #F4F4F4;
}

.listProducts::-webkit-scrollbar-thumb {
	background: #317B96;
}

@media (max-width:735px){
	.tableProducts{
		width: 100%;
	}
}

@media (max-width:535px){
	.titles{
		display: flex;
	}

	.titleProduct, .titlePrice, .titleAction{
		display: none;
	}

	.titleProductInfos{
		display: block;
	}

	.product img{
		width: 180px;
		height: 100%;
	}

	.product, .price{
		margin-bottom: 10px;
	}

	.product{
		display: flex;
		flex-direction: column;
		text-align: center;
	}


	.product .nameProduct{
		width: 100%;
	}
}
