.navBar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 25px 50px;
}

.logo{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.logo img, .logoMobile img{
	width: 50px;
	height: 50px;
	margin-bottom: -8px;
}

.logo p{
	font-size: 1.8rem;
	font-weight: 600;
	margin:0;
	color: black;
}

.navOptions{
	display: flex;
	flex-direction: row;
	cursor: pointer;
}

.navOptions p{
	margin: 0px 20px;
	font-weight:600 ;
}

.navOptions p:hover{
	color: #317B96;
	animation: swingText ease-in-out .5s 1;
}

.searchBar{
	display: flex;
	align-items: center;
}

.searchBar .icons{
	margin-left: 30px;
	font-size: 2rem;
}

.searchBar .icons:hover{
	color: #317B96;
	animation: swingText ease-in-out .5s 1;
	cursor: pointer;
}

.searchBar input{
	border:none;
	background-color: rgb(244, 245, 249);
	padding: .5rem;
	border-radius:5px 0px 0px 5px;
	margin: 0px;
}

.searchBar input:focus{
	outline: 0;
}

.searchBar button, .searchButtonMobile{
	border: none;
	padding: .5rem .8rem;
	background-color: #317B96;
	border-radius: 0px 5px 5px 0px;
}

.searchBar .searchIcon, .searchIconMobile{
	color: white;
	font-size: 1.8rem;
	cursor: pointer;
}

.burguer{
	display: none;
}

@keyframes swingText{
	0%{
		transform:translateY(0px);
	}
	50%{
		transform:translateY(1px);
	}
	100%{
		transform:translateY(0px);
	}
}

@media (max-width:1050px){
	.burguerIcon{
		font-size: 3rem;
		margin:0px 20px;
		cursor: pointer;
	}

	.navBar{
		display: none;
	}

	.logo, .logoMobile img{
		margin:20px;
	}

	.burguer{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.searchBarMobile{
		border:none;
		background-color: rgb(244, 245, 249);
		padding: .5rem;
		border-radius:5px 0px 0px 5px;
		width: 60vw;
	}

	@media (max-width:535px){
		.searchBarMobile{
			width: 85%;
		}
	}

	@media (max-width:400px){
		.burguerIcon{
			font-size: 4rem;
		}

		.logo, .logoMobile img{
			width: 40px;
			height:40px;
		}

		.searchBarMobile{
			width: 75%;
		}

		.burguerIcon{
			margin: 0px 10px;
		}
	}
}
