aside{
	width: 30vw;
	height: 100vh;
	background-color: white;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container{
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.644);
	right: 0;
	top: 0;
	z-index: 2;
}

.headerCart{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.headerCart svg, .titleCart svg{
	font-size: 3.6rem;
}

.titleCart{
	display: flex;
	align-items: center;
}

.titleCart h2{
	margin: 0px;
	font-size: 1.8rem;
	margin-left: 10px;
}

.closeButton:hover{
	transition: .3s;
	color: #317B96;
	cursor: pointer;
}

.finalizeOrder{
	border-top: 1px solid #B5B6BB;
}

.keepContinue{
	cursor: pointer;
	text-align: center;
	margin-top: 20px;
}

.subTotal, .total{
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.subTotal p, .total p{
	font-weight: 700;
}

.totalPrice{
	color: red;
}

.btn{
	background-color: black;
	width: 100%;
	padding: 10px;
	color: white;
	font-size: 2rem;
	font-weight: 600;
	margin-top: 20px;
}

@media (max-width:1090px){
	aside{
		width: 35vw;
	}
}

@media (max-width:950px){
	aside{
		width: 40vw;
	}
}

@media (max-width:795px){
	aside{
		width: 55vw;
	}
}

@media (max-width:585px){
	aside{
		width: 70vw;
	}
}

@media (max-width:460px){
	.subTotal, .total{
		font-size: 1.4rem;
	}

	.btn{
		font-size: 1.6rem;
	}

	.headerCart .titleCart .bagIcon{
		display: none;
	}

	.container h2{
		margin-left: 0px;
	}

	.headerCart .closeButton{
		font-size: 2rem;
	}
}

@media (max-width:400px){
	.container h2, .keepContinue, .btn{
		font-size: 1.2rem;
	}

	.subTotal, .total{
		font-size: 1.2rem;
		flex-direction: column;
	}
}
