.container{
	margin: 100px 0px;
}

.title{
	text-align: center;
	font-size: 2.4rem;
	text-transform: uppercase;
	font-weight: 900;
	font-family: 'Lato', sans-serif;
	margin-bottom: 20px;
}

.photos{
	width: 1280px;
	display: flex;
}

.photos img{
	width: calc(1220px / 4);
	height: 550px;
}

.photos img:hover{
	cursor: pointer;
}

.photos .img1,.photos .img2, .photos .img3 {
	margin: 0px 20px 0px 0px;
}

.photos .img4{
	margin: 0px;
}

.carousel{
	display: none;
}

@media (max-width:1300px){
	.photos{
		display: none;
	}

	.carousel{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 10px;
		position: relative;
	}

	.promotions{
		display: flex;
		overflow: hidden;
		scroll-behavior: smooth;
		gap: 10px;
	}

	.promotions img{
		height: 550px;
	}

	.arrowLeft,
	.arrowRight{
		color: black;
		width:40px;
		height: 40px ;
		padding: 8px;
		border-radius: 50%;
		cursor: pointer;
		transition: .5s;
		position: absolute;
		z-index: 1;
	}

	.arrowLeft {
		left: 0;
	}
	.arrowRight {
		right: 0;
	}

	.arrowLeft:hover,
	.arrowRight:hover
	{
		color: #317B96;
	}
}
