.container{
	margin: 100px 0px;
}

.title{
	text-align: center;
	font-size: 2.4rem;
	text-transform: uppercase;
	font-weight: 900;
	font-family: 'Lato', sans-serif;
	margin-bottom: 20px;
}

.photos{
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 10px;
}

.carousel{
	display: none;
}

@media (max-width:1300px){
	.photos{
		display: none;
	}

	.carousel{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 10px;
		position: relative;
	}

	.spotsContainer{
		display: flex;
		overflow: hidden;
		scroll-behavior: smooth;
		gap: 10px;
	}

	.spotsContainer img{
		height: 550px;
	}

	.arrowLeft,
	.arrowRight{
		color: black;
		width:40px;
		height: 40px ;
		padding: 8px;
		border-radius: 50%;
		cursor: pointer;
		transition: .5s;
		position: absolute;
		z-index: 1;
	}

	.arrowLeft {
		left: 0;
	}
	.arrowRight {
		right: 0;
	}

	.arrowLeft:hover,
	.arrowRight:hover
	{
		color: #317B96;
	}
}
