.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 15vw;
	margin: 20px 50px;
}

.icon{
	color: #158A8A;
	font-size: 40px;
}

.title{
	font-size: 1.8rem;
	text-align: center;
	font-weight: 700;
}

.details{
	text-align: center;
	font-size: 1.4rem;
}
