.product{
	display: flex;
	flex-direction: column;
	background-color: rgb(228, 228, 228);
	border-radius: 10px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.192);
	padding: 10px;
	height: 400px;
	margin: 0px 20px ;
}

.product img{
	height: 300px;
}

.product p{
	text-align: center;
	margin: 0px;
	margin-top: 12px;
}
