.product{
	display: flex;
	flex-direction: column;
	width: 260px;
	background: linear-gradient(215.05deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.17924) 0%, rgba(0, 0, 0, 0.0159838) 92.01%, rgba(0, 0, 0, 0) 100%), #FFFFFF;
}

.product img{
	width: 260px;
	height: 260px;
}

.product .name{
	font-family: 'Anton', sans-serif;
	font-size: 1.4rem;
	padding: 10px 0 0 0;
}
.product .price{
	font-family: 'Montserrat', sans-serif;
	color: red;
	font-size: 1.4rem;
	font-weight: 600;
}
