.product{
	display: flex;
	flex-direction: column;
	width: 260px;
	background: #ebebeb;
	cursor: pointer;
	border-right: 1px solid rgba(0, 0, 0, 0.61);
}

.product:hover{
	transition: .3s;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	background-color: #cecece;
}

.product img{
	width: 260px;
	height: 260px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.61);
}

.product .name{
	font-family: 'Anton', sans-serif;
	font-size: 1.4rem;
	margin: 5px 10px 0px 10px;
}
.product .price{
	font-family: 'Montserrat', sans-serif;
	color: #00a650;
	font-size: 1.4rem;
	font-weight: 600;
	margin: 10px 10px 5px 10px;
}
