.container{
	display: flex;
	justify-content: center;
	background-color: black;
	margin: 0 auto;
	margin-top: 50px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.281);
	border-radius: 5px;
}

.container img{
	width: calc(1250px/3);
	height: 300px;
}

.teste{
	border-left: 1px solid white;
	border-right: 1px solid white;
}
